.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
    margin: 1em;
}

.title-text {
    margin: 0 2em;
    padding-top: 1.5em;
}

.subtitle-text {
    font-style: normal;
}

h1 {
    font-size: 40px;
    color: #FFF;
    line-height: 48px;
    display: inline;
}

h2 {
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin: 10px 0 0 0;
}

a:hover {
  text-decoration: none;
}

.welcome-message {
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

.grey-text {
    color: #282828;
}

/* TODO: Replace with image later */
#header {
    /* From Colorzilla CSS gradient generater */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c61b3b+0,ed253d+100 */
    background: #c61b3b;
 /* Old browsers */
    background: -moz-linear-gradient(top, #c61b3b 0%, #ed253d 100%);
 /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c61b3b 0%,#ed253d 100%);
 /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c61b3b 0%,#ed253d 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61b3b', endColorstr='#ed253d',GradientType=0 );
 /* IE6-9 */;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.contact-list {
    display: inline;
    padding: 0 2em;
}

.fa-phone,.fa-envelope,.fa-wordpress, .fa-github, .fa-twitter {
    margin-right: .3em;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
}

img {
    padding: 10px;
}

#footerContacts, #topContacts {
    margin-bottom: 0;
    padding-bottom: .5em;
}

#lets-connect {
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:953px) {
    .contact-list {
        padding: 1em;
    }
}

@media only screen and (max-width: 805px) {
    * {
        text-align: center;
    }

    .contact-list {
        padding: .5em;
    }

    #header {
      display: block;
    }

    .biopic, .date-text, .location-text {
        float: none;
    }

    #lets-connect {
        margin-top: 20%;
    };
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 2em;
}

@media only screen and (max-width: 711px) {
  .contact-list {
    padding: .2em
  }

  .welcome-message {
      display: none;
  }
}

@media only screen and (max-width: 550px) {


    .contact-list {
      display: block;
    }
}
